@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    
}

body{
    background-color: rgb(88, 88, 88);
}
img{
    width: 100%;
    height: 100%;
}
legend{
    color: white;
    font-size: 1.5em;
    margin: 20px 0px;
}

fieldset{
    border: none;
}
option{
    background: black;
    text-transform: uppercase;
    font-size: 1.4em;
}
select{
    text-transform: uppercase;
    padding: 10px;
    outline: none;
    border: none;
    background: transparent;
    color: white;
}

.imagem{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}
.imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
    overflow: hidden;
    animation: zoom 15s linear;
}
.info{
    margin: 0px 20px;
    border-left: 20px solid rgb(243, 158, 0);
    max-width: 500px;
    height: 150px;
    padding-left: 20px;
    position: relative;
    bottom: 50%;
    color: white;
    animation: opacity 1s linear reverse;
}
.info h1{
    font-size: 1.8em;
    font-weight: lighter;
}
.info p{
    font-size: 1.5em;
    margin: 20px 0px 0px 0px;
}
.info button{
    width: 100%;
    height: 50px;
    margin: 20px 0px;
    background: linear-gradient(90deg, #3C3B3F, #605C3C);
    text-transform: uppercase;
    letter-spacing: .2em;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}
.info button:hover{
    transition: 80ms linear;
    height: 60px;
}
.otheroption{ 
    display: flex;
    position: relative;
    bottom: 111%;
    margin-left: 20px;
    border-left: 20px double rgb(243, 158, 0);
}
.fe{
    justify-content: space-between;
}
.otheroption a{
    margin-left: 50px;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
}
.otheroption img{
    width: 50px;
    object-fit: cover;
    
}
.otheroption .falecom{  
    text-decoration: underline;
}
.falecom{
    border-right: 20px double orange;
    padding-right: 15px;
    margin-right: 15px;
}
.containerSimula{
    max-width: 1200px;
    margin: 0px auto 0px;
    border-left: 10px double rgb(255, 136, 0);
    border-right: 10px double rgb(255, 136, 0);
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 250px;
    grid-gap: 20px;
}
.fieldsetEnfeites{
    grid-column: 1;
    font-size: 2em;
    color: white;

}
.tituloSimula{
    grid-column: 1 / -1;
    font-family: 'Dancing Script';
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 10px 10px 10px black;
    margin: 20px 0px;
    font-weight: lighter;
}
.opção,  .qntd{
    display: inline;
    border-left: 5px solid orange; 
    padding-left: 5px;
}

.qntd input{
    width: 190px;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(255, 166, 0);
    color: white;
}
.opção{
    outline: none;
    border-bottom: 1px solid rgb(255, 166, 0);
    width: 300px;
    background: transparent;
}
.massa{
    grid-row: 2 / 2;
}
.btnSimula{
    grid-row: 3;
    grid-column: 2;
    background: linear-gradient(90deg,#3C3B3F,#605C3C);
    color: white;
    border:none;
    outline: none;
    cursor: pointer;
    margin: 20px;
    height: 50px;
    letter-spacing: .2em;
}
.btnSimula:hover{
    transition: 80ms linear;
    height: 60px;
}

.resposta{
    display: none;
    width: 500px;
    height: 250px;
    border-left: 5px solid orange;
    grid-column: 2;
    grid-row: 5;
}
.resposta{
    font-size: 2em;
    color: white;
}
.red{
    color: rgb(255, 0, 0);
}
.green{
    color: rgb(0, 255, 106);
}

.redessociais{
    grid-column: 2;
    grid-row: 4;
}
.sub-titleredes{
    font-family: 'Dancing Script';
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    text-shadow: 2px 2px 5px black;
    border-left: 5px solid orange;
    padding-left: 5px;
}
.iconify{
    font-size: 4em;
    color: black;
    margin: 5px 20px;
}
.insta{
    background: linear-gradient(180deg, red, purple);
    border-radius: 10px;
    
}
.container-scroll{
    height: 100vh;
}
.scroll{
    overflow-x: scroll;
    height: 100vh;
    height: 700px;
}
.img{
    display: flex;
}
.img img{
    margin-left: 5px;
    width: 500px;
    height: auto;
}
#titulo-scroll{
    font-family: 'Dancing Script';
    font-size: 3em;
    text-align: center;
    text-shadow: 10px 10px 10px black;
    text-transform: uppercase;
    margin: 70px 0px;
    color: white;
}
.line-scroll{
    width: 500px;
    height: 8px;
    background-color: rgb(255, 81, 0);
    box-shadow: 2px 2px 5px black;
    margin: 10px auto;
}
@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes opacity{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
::placeholder{
    color: white;
    margin: 5px 0px;
}